section.section.section-teachers
  .container
    h2.section__title Обучение с лучшими педагогами
      span.section__title-border.b_top
      span.section__title-border.b_top-right
      span.section__title-border.b_bottom
      span.section__title-border.b_bottom-right
    .section-teachers__wrapper
      p.section-teachers__description С вашим ребенком занимаются только высококвалифицированные преподаватели благодаря комплексной системе отбора, нескольким этапам собеседования, а также повышению их квалификации через дополнительные сертификации.
      .section-teachers__wrap
        .section-teachers__item.section-teachers__item--video
          .section-teachers__item--mask
          <iframe id="section-teachers__item--video" style="background-color: #000" src="https://player.vimeo.com/video/344519650?h=8e93f46e87&color=ff214f&byline=0&portrait=0&badge=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        .section-teachers__item
          .section-teachers__sub-item.section-teachers__sub-item--video
            .section-teachers__sub-item--mask
            <iframe id="section-teachers__sub-item--video" style="background-color: #000" src="https://player.vimeo.com/video/136405903?h=001dcbe407" frameborder="0" allow="autoplay;" ></iframe>
          .section-teachers__sub-item Можем подобрать нового преподавателя, если что-то пойдет не так
            img(src="./img/svg/ico-!.svg" class="section-teachers__sub-item--ico")