section.section-platform
  .container
    h2.section__title Занятия проходят с использованием интерактивной платформы Абакус
      span.section__title-border.b_top
      span.section__title-border.b_top-right
      span.section__title-border.b_bottom
      span.section__title-border.b_bottom-right

    .section-platform__wrapper
      .section-platform__full-video
        <iframe id="section-platform" src="https://player.vimeo.com/video/344519650?h=8e93f46e87&color=ff214f&byline=0&portrait=0&badge=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      .section-platform__info
        .section-platform__info-item
          .section-platform__info-item__title Преподаватель отслеживает
            span  динамику обучения ученика.
          .section-platform__info-item__image
            img.img-fluid(src="./img/platform/cover-2.jpg", alt="")
        .section-platform__info-item
          .section-platform__info-item__image._orange
            img.img-fluid(src="./img/platform/cover-3.jpg", alt="")
      .section-platform__teacher-wrap
        .section-platform__line
          img._desktop(src="./img/platform/line.svg")
          img._mobile(src="./img/platform/line-mobile.svg")
        .section-platform__teacher
          img(src="./img/platform/th-1.png")
        .section-platform__description
          p Родители обязательно получают профессиональную обратную связь и <span>рекомендации  по итогам занятий</span>.
        .section-platform__teacher
          img(src="./img/platform/th-2.png")
