.ticker.ticker_2
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .ticker__item
          .ticker__item-icon
            img(src="./img/ticker/ticker-2.svg", alt="")
          .ticker__item-text ПОВЫШАЕМ УСПЕВАЕМОСТЬ В ШКОЛЕ