.ticker.ticker_2
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-2.svg", alt="")
    .ticker__item-text Прививаем интерес к математике
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-2.svg", alt="")
    .ticker__item-text Прививаем интерес к математике
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-2.svg", alt="")
    .ticker__item-text Прививаем интерес к математике
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-2.svg", alt="")
    .ticker__item-text Прививаем интерес к математике