.ticker.ticker_2
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-2.svg", alt="")
    .ticker__item-text помогаем готовиться к экзаменам, тестам, олимпиадам
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-2.svg", alt="")
    .ticker__item-text помогаем готовиться к экзаменам, тестам, олимпиадам
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-2.svg", alt="")
    .ticker__item-text помогаем готовиться к экзаменам, тестам, олимпиадам