header.header
  .header__top
    .container
      .header__top-wrapper
        .header__top-col Международная сеть школ Абакус центр
        .header__top-col
          .header__top-info
            .header__top-info__item
              span.ic-clock
              | пн-вск 9:00 - 19:00
            .header__top-info__item
              span.ic-mail
              a(href="mailto:abakus@abakus-center.ru") abakus@abakus-center.ru
        .header__top-col
          .header__top-phone
            a(href="tel:88005553465") 8 800 555 34 65
            .header__top-phone-text (звонок по России бесплатный)
  .header__bottom
    .container
      .header__logo
        a(href="#")
          img(src="./img/global/logo-header.svg", alt="")