section.section-tariffs
  .container
    h2.section__title Выберите ваш план на месяц
      span.section__title-border.b_top
      span.section__title-border.b_top-right
      span.section__title-border.b_bottom
      span.section__title-border.b_bottom-right

    .section-tariffs__wrapper
      .swiper-wrapper
        .swiper-slide.section-tariffs__item
          .section-tariffs__item-hit
          .section-tariffs__item-wrap
            .section-tariffs__item-headline БАЗОВЫЙ
            .section-tariffs__item-body
              .section-tariffs__item-price 4500 ₽
              .section-tariffs__item-info
                .section-tariffs__item-info__line 4 занятия по 45 минут
                .section-tariffs__item-info__line 1 ученик
              button.section-tariffs__item-button(type="button") Выбрать
              .section-tariffs__item-adds
                span.ic-people
                | Индивидуальный тариф
        .swiper-slide.section-tariffs__item._hit
          .section-tariffs__item-hit
          .section-tariffs__item-wrap
            .section-tariffs__item-headline Популярный
            .section-tariffs__item-body
              .section-tariffs__item-price 5850 ₽
              .section-tariffs__item-info
                .section-tariffs__item-info__line 4 занятия по 60 минут
                .section-tariffs__item-info__line 1 ученик
              button.section-tariffs__item-button(type="button") Выбрать
              .section-tariffs__item-adds
                span.ic-people
                | Индивидуальный тариф
        .swiper-slide.section-tariffs__item
          .section-tariffs__item-hit
          .section-tariffs__item-wrap
            .section-tariffs__item-headline ИНТЕНСИВ
            .section-tariffs__item-body
              .section-tariffs__item-price 8800 ₽
              .section-tariffs__item-info
                .section-tariffs__item-info__line 8занятия по 45 минут
                .section-tariffs__item-info__line 1 ученик
              button.section-tariffs__item-button(type="button") Выбрать
              .section-tariffs__item-adds
                span.ic-people
                | Индивидуальный тариф
        .swiper-slide.section-tariffs__item
          .section-tariffs__item-hit
          .section-tariffs__item-wrap
            .section-tariffs__item-headline ПРИВЕДИ ДРУГА
            .section-tariffs__item-body
              .section-tariffs__item-price 3900 ₽
              .section-tariffs__item-info
                .section-tariffs__item-info__line 8 занятия по 30 минут
                .section-tariffs__item-info__line Цена за каждого ученика
              button.section-tariffs__item-button(type="button") Выбрать
              .section-tariffs__item-adds
                span.ic-people
                span.ic-people
                | Занятия в паре
