#modal-form.modal.micromodal-slide(aria-hidden="true")
  .modal__overlay(tabindex="-1" data-micromodal-close)
    .modal__container(role="dialog" aria-modal="true" aria-labelledby="modal-form-title")
      header(class="modal__header")
        h2#modal-form-title(class="modal__title")
          | Оставить заявку
      button.modal__close(aria-label="Close modal" data-micromodal-close)
      form(action="")
        input(type="hidden", name="package-name", value="")
        main.modal__content
          label.modal__form-label(for="name")
            input#name.modal__form-input(type="text", name="name", placeholder="Имя")
          label.modal__form-label(for="name")
            input#email.modal__form-input(type="email", name="email", placeholder="Электронная почта")
          label.modal__form-label(for="phone")
            input#name.modal__form-input(type="tel", name="phone", placeholder="Телефон")
        footer.modal__footer
          button.modal__btn(type="submit") Отправить
          .modal__legal Нажимая кнопку, вы соглашаетесь
            |
            |
            a(href="#") на обработку персональных данных

#modal-review-text.modal.micromodal-slide(aria-hidden="true")
  .modal__overlay(tabindex="-1" data-micromodal-close)
    .modal__container(role="dialog" aria-modal="true" aria-labelledby="modal-form-title")
      button.modal__close(aria-label="Close modal" data-micromodal-close)
      .modal-review
        .modal-review__info
          .modal-review__author
              img.modal-review__photo(src="./img/reviews/alex.jpg", alt="")
              p.modal-review__name Александр, 10 лет
        p.modal-review__text Вот и все)) Можно выдохнуть и поздравить моего маленького счетовода с очередным вторым местом в Международной Олимпиаде, прошедшей вчера, 22 декабря 2019 Вот и все)) Можно выдохнуть и поздравить моего маленького счетовода с очередным вторым местом в Международной Олимпиаде, прошедшей вчера, 22 декабря 2019
        a.modal-review__insta(href="#", target="_blank", rel="noopener", aria-label="Instagram")