.ticker.ticker_3
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-3.svg", alt="")
    .ticker__item-text  прививаем лидерские качества
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-3.svg", alt="")
    .ticker__item-text  прививаем лидерские качества
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-3.svg", alt="")
    .ticker__item-text  прививаем лидерские качества
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-3.svg", alt="")
    .ticker__item-text  прививаем лидерские качества
