.ticker.ticker_3
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .ticker__item
          .ticker__item-icon
            img(src="./img/ticker/ticker-3.svg", alt="")
          .ticker__item-text  прививаем лидерские качества
