.ticker.ticker_5
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-5.svg", alt="")
    .ticker__item-text Помогаем готовиться к тестам и олимпиадам
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-5.svg", alt="")
    .ticker__item-text Помогаем готовиться к тестам и олимпиадам
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-5.svg", alt="")
    .ticker__item-text Помогаем готовиться к тестам и олимпиадам
