.firstblock
  .container
    h1.firstblock__title Онлайн-занятия по
      |
      |
      span МАТЕМАТИКЕ
      |
      |Абакус для детей от 4 лет
      ._star
    .firstblock__buttons
      button.firstblock__button(type="button" data-micromodal-trigger="modal-form")
        img(src="./img/mainblock/button-icon.png", alt="")
        | Получить свой
        br
        | бесплатный урок
      .arrow-left-wrap
        .arrow-left
    .firstblock__middle--cap
    .firstblock__middle
      .firstblock__middle--close
      video#video-main.video-js.firstblock__full-video(controls preload="auto" loop="true" autoplay="true" poster="./img/mainblock/cover.jpg" muted="true" )
        source(src="//abakus-center.ru/videos/video_1.mp4" type="video/mp4")
        p.vjs-no-js
          | To view this video please enable JavaScript, and consider upgrading to a web browser that
    .firstblock__bottom
      +firstblock-item({
        image: "./img/mainblock/icon-1.svg",
        title: "Инновационная методика",
        text: "поможет подготовить вашего ребенка к Всероссийским проверочным работам (ВПР), олимпиадам и необычным заданиям из ОГЭ и ЕГЭ. Персональный тьютор на интерактивной платформе покажет увлекательную сторону математики"
      })
      +firstblock-item({
        image: "./img/mainblock/icon-2.svg",
        title: "Профессиональные педагоги",
        text: "будут с заботой разъяснять непонятные темы, подберут индивидуальную программу, научат разбираться в головоломках. Нам важно, кто вас обучает."
      })
      +firstblock-item({
        image: "./img/mainblock/icon-3.svg",
        title: "Международные олимпиады",
        text: "мы открываем двери региональных и международных олимпиад для любого нашего ученика."
      })