.firstblock
  .container
    .firstblock__headline
      h1.firstblock__title Развиваем
        |
        |
        b интеллект и
        |
        |
        span математическое
        |
        | мышление
        ._star
      .firstblock__subtitle Онлайн-занятия по математике Абакус с опытным педагогом
    .firstblock__buttons
      button.firstblock__button(type="button" data-micromodal-trigger="modal-success")
        img(src="./img/mainblock/button-icon.png", alt="")
        | Получить свой
        br
        | бесплатный урок
      .arrow-left-wrap
        .arrow-left
    .firstblock__middle--cap
    .firstblock__middle
      .firstblock__middle--close
      .firstblock__full-video
        <iframe id="main-video" src="https://player.vimeo.com/video/344519650?loop=1" frameborder="0" allow="autoplay; loop; fullscreen; picture-in-picture" allowfullscreen></iframe>
    .firstblock__bottom
      +firstblock-item({
        image: "./img/mainblock/icon-1.svg",
        title: "Инновационная методика",
        text: "поможет подготовить вашего ребенка к Всероссийским проверочным работам (ВПР), олимпиадам и необычным заданиям из ОГЭ и ЕГЭ. Персональный тьютор на интерактивной платформе покажет увлекательную сторону математики"
      })
      +firstblock-item({
        image: "./img/mainblock/icon-2.svg",
        title: "Профессиональные педагоги",
        text: "будут с заботой разъяснять непонятные темы, подберут индивидуальную программу, научат разбираться в головоломках. Нам важно, кто вас обучает."
      })
      +firstblock-item({
        image: "./img/mainblock/icon-3.svg",
        title: "Международные олимпиады",
        text: "мы открываем двери региональных и международных олимпиад для любого нашего ученика."
      })