extends layouts/default
include helpers/mixins

block variables
	- const title = "Online Abakus"

block content
	include ../blocks/modules/mainblock/mainblock
	include ../blocks/modules/ticker-1/ticker-1
	include ../blocks/modules/lesson-consist-1/lesson-consist-1
	include ../blocks/modules/lesson-consist-2/lesson-consist-2
	include ../blocks/modules/lesson-consist-3/lesson-consist-3
	include ../blocks/modules/ticker-2/ticker-2
	include ../blocks/modules/section-platform/section-platform
	include ../blocks/modules/ticker-3/ticker-3
	include ../blocks/modules/section-tariffs/section-tariffs
	include ../blocks/modules/ticker-4/ticker-4
	include ../blocks/modules/ticker-5/ticker-5
	include ../blocks/modules/section-map/section-map
	include ../blocks/modules/section-smi/section-smi
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
