.section-reviews {
  padding: 100px 0px;

  &__description {
    position: relative;
    font-family: 'Neometric Alt', sans-serif;
    background: #FAEB99;
    padding: 32px 50px;
    max-width: 480px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-right: 40px;
    margin-bottom: 40px;

    @media(max-width: 540px) {
      font-size: 18px;
      line-height: 120%;
      padding: 24px 40px;
    }

    img {
      position: absolute;
      bottom: -40px;
      right: -40px;
    }

  }

  &__wrapper{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    width: 24%;
    margin-bottom: 20px;
    padding: 32px 40px 80px 40px;
    border: 7px solid #C3E6F5;
    border-radius: 23px;

    @media(max-width: 1180px) {
      width: 26%;
      margin-bottom: 16px;
      padding: 24px 24px 80px 24px;
    }

    @media(max-width: 991px) {
      width: 40%;
      margin-bottom: 12px;
    }

    @media(max-width: 768px) {
      width: 100%;
    }
  }

  &__author {
    display: flex;
    align-items: flex-end;
  }

  &__photo {
    border-radius: 50%;
    margin-right: 12px;
  }

  &__name {
    font-family: 'Proxima Nova', sans-serif;
    line-height: 1;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  &__review {
    margin-bottom: 0;
  }

  &__insta {
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    display: inline-block;
    bottom: 28px;
    left: 40px;
    background: #29A4DD;
    background-size: contain;
    -webkit-mask-image: url(../img/svg/insta.svg);
    mask-image:url(../img/svg/insta.svg);
    width: 35px;
    height: 35px;
    &:hover {
      background: #36A753;
    }


    @media(max-width: 1180px) {
      left: 24px;
    }
  }

  &__more {
    button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      outline: inherit;

      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #29A4DD;

      &:hover {
        color: #36A753;
      }
    }
  }

  &__more-reviews {
    text-align: center;
    padding-top: 40px;
  }

  &__more-btn {
    background: #C3E6F5;
    border: none;
    border-radius: 30px;
    padding: 20px;
    width: 380px;
    cursor: pointer;
    outline: inherit;
    transition: 0.2s;

    font-family: "Neometric Alt", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    &:hover {
      background: #cbe8f5;
    }

    &:active {
      background: #93d5f3;
    }
  }
}