.section-reviews {
  padding: rem(100) 0;

  &__description {
    position: relative;
    max-width: rem(480);
    margin-right: rem(40);
    margin-bottom: rem(40);
    padding: rem(32) rem(50) ;
    font-family: 'Neometric Alt', sans-serif;
    font-size: rem(25);
    font-weight: 600;
    line-height: rem(30);
    background: var(--lightyellow-color);

    @media(max-width: 539px) {
      padding: rem(24) rem(40);
      font-size: rem(18);
      line-height: 120%;
    }

    img {
      position: absolute;
      right: rem(-40);
      bottom: rem(-40);
    }
  }

  &__wrapper{
    display: flex;
    margin: 0 -1%;
    padding-top: rem(30);
    flex-wrap: wrap;

    @media(max-width: 768px) {
      margin: 0;
    }
  }

  &__item {
    position: relative;
    width: 31%;
    height: auto;
    max-width: 31%;
    margin: 1%;
    border: rem(7)solid #C3E6F5;
    border-radius: rem(23);
    box-sizing: border-box;
    flex-grow: 1;

    @media(max-width: 1179px) {
      width: 48%;
      max-width: 48%;
      margin: 1%;
    }

    @media(max-width: 767px) {
      width: 100%;
      max-width: 100%;
      margin: 1% 0;
    }
  }

  &__item--text {
    padding: rem(32) rem(40) rem(80) rem(40);

    @media(max-width: 1180px) {
      padding: rem(24) rem(24) rem(80) rem(24);
    }

    &.hide-elem {
      display: none;
    }
  }

  &__item--wrap-video {
    height: 100%;
    min-height: rem(320);
    border-radius: rem(18);
    background-color: #0b2530;

    video {
      width: 100%;
      height: 100%;
      border-radius: rem(18);
      object-fit: cover;
    }

    &.hide-elem {
      display: none;
    }
  }

  &__author {
    display: flex;
    align-items: flex-end;
  }

  &__photo {
    width: rem(67);
    height: rem(67);
    margin-right: rem(12);
    border-radius: 50%;
  }

  &__name {
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-size: rem(20);
    font-weight: 700;
    line-height: 1;
    line-height: rem(24);
  }

  &__review {
    margin-bottom: 0;
  }

  &__insta {
    cursor: pointer;
    position: absolute;
    bottom: rem(28);
    left: rem(40);
    display: inline-block;
    width: rem(35);
    height: rem(35);
    background: var(--lightblue-color);
    transition: 0.2s;
    background-size: contain;
    -webkit-mask-image: url(../img/svg/insta.svg);
    mask-image:url(../img/svg/insta.svg);

    @media(max-width: 1179px) {
      left: rem(24);
    }

    &:hover {
      background: #36A753;
    }
  }

  &__more {
    margin-top: rem(5);

    button {
      cursor: pointer;
      padding: 0;
      font-size: rem(16);

      font-weight: 700;
      line-height: rem(17);
      color: var(--lightblue-color);
      background: none;
      border: none;
      outline: inherit;

      &:hover {
        color: #36A753;
      }
    }
  }

  &__more-reviews {
    padding-top: rem(40);
    text-align: center;
  }

  &__more-btn {
    cursor: pointer;
    width: rem(380);
    padding: rem(20);

    font-family: "Neometric Alt", sans-serif;
    font-size: rem(18);
    font-weight: 600;
    line-height: rem(22);
    background: #C3E6F5;
    border: none;
    border-radius: rem(30);
    transition: 0.2s;
    outline: inherit;

    &:hover {
      background: var(--lightblue-color);
    }

    &:active {
      color: var(--black-color);
      background: var(--lightblue-color);
    }
  }
}