section.section.section-reviews
    .container
        h2.section__title Вместо тысячи слов — посмотрите отзывы
            span.section__title-border.b_top
            span.section__title-border.b_top-right
            span.section__title-border.b_bottom
            span.section__title-border.b_bottom-right
        .section-reviews__description
            p Подавляющее большинство наших учеников приглашают к нам своих друзей и знакомых.
            img(src='./img/svg/start-reviews.svg')
        .section-reviews__wrapper
            +reviews-item({
                image: "./img/reviews/irina.jpg",
                name: "Ира, 6 лет",
                text: "Ловите от нас обзор, мы с удовольствием рекомендуем и советуем! Интересный подход, интересные задания на развитие творческого и аналитического интеллекта ребёнка."
            })
            +reviews-item({
                image: "./img/reviews/alex.jpg",
                name: "Александр, 10 лет",
                text: "Вот и все)) Можно выдохнуть и поздравить моего маленького счетовода с очередным вторым местом в Международной Олимпиаде, прошедшей вчера, 22 декабря 2019"
            })
            +reviews-item({
                image: "./img/reviews/irina.jpg",
                name: "Александр, 10 лет",
                text: "Вот и все)) Можно выдохнуть и поздравить моего маленького счетовода с очередным вторым местом в Международной Олимпиаде, прошедшей вчера, 22 декабря 2019"
            })
            +reviews-item({
                image: "./img/reviews/alex.jpg",
                name: "Ира, 6 лет",
                text: "Ловите от нас обзор, мы с удовольствием рекомендуем и советуем! Интересный подход, интересные задания на развитие творческого и аналитического интеллекта ребёнка."
            })
            .section-reviews__item
                .section-reviews__item--text.hide-elem
                .section-reviews__item--wrap-video
                    video#video-main.video-js.section-reviews__item--video(controls preload="auto" loop="true" poster="./img/mainblock/cover.jpg" muted="true" data-setup="{}")
                        source(src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4")
                        source(src="//vjs.zencdn.net/v/oceans.webm" type="video/webm")
                        source(src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg")
                        p.vjs-no-js
                            | To view this video please enable JavaScript, and consider upgrading to a web browser that
        .section-reviews__more-reviews
            button.section-reviews__more-btn Больше отзывов