.section-reviews {
    padding: rem(100) 0;

    &__description {
        position: relative;
        max-width: rem(480);
        margin-right: rem(40);
        margin-bottom: rem(40);
        padding: rem(32) rem(50);
        font-family: "Neometric Alt", sans-serif;
        font-size: rem(25);
        font-weight: 600;
        line-height: rem(30);
        background: var(--lightyellow-color);

        @media(max-width: 991px) {
            padding: rem(32) rem(27);
            font-size: rem(16);
            line-height: rem(13);
        }

        @media(max-width: 575px) {
            max-width: 100%;
            margin-right: 0;
            padding: rem(26) rem(23);
            font-size: rem(18);
            line-height: rem(22);
        }

        img {
            position: absolute;
            right: rem(-40);
            bottom: rem(-40);
            width: rem(120);

            @media(max-width: 575px) {
                right: 0;
                width: rem(80);
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1%;
        padding-top: rem(30);

        @media(max-width: 768px) {
            margin: 0;
        }
    }

    &__item {
        box-sizing: border-box;
        flex-grow: 1;
        position: relative;
        width: 31%;
        max-width: 31%;
        height: auto;
        min-height: rem(280);
        margin: 1%;
        border: rem(7) solid #c3e6f5;
        border-radius: rem(23);

        @media(max-width: 1179px) {
            width: 48%;
            max-width: 48%;
            margin: 1%;
        }

        @media(max-width: 767px) {
            width: 100%;
            max-width: 100%;
            margin: 1% 0;
            margin-bottom: rem(20);
        }

        @media(max-width: 575px) {
            margin-bottom: rem(25);
        }

        &--text {
            padding: rem(32) rem(40) rem(80) rem(40);

            @media(max-width: 1180px) {
                padding: rem(24) rem(24) rem(80) rem(24);
            }
        }

        &-cover {
            position: relative;
            height: 100%;
            min-height: rem(320);
            overflow: hidden;
            cursor: pointer;
            border-radius: rem(18);
            background-color: #0b2530;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.4);
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                width: rem(61);
                height: rem(70);
                transform: translate(-50%, -50%);
                background-repeat: no-repeat;
                background-image: url("../img/reviews/play.svg");
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: rem(18);
                object-fit: cover;
            }
        }
    }

    &__author {
        display: flex;
        align-items: flex-end;
    }

    &__photo {
        width: rem(67);
        height: rem(67);
        margin-right: rem(12);
        border-radius: 50%;
    }

    &__name {
        margin: 0;
        font-family: "Proxima Nova", sans-serif;
        font-size: rem(20);
        font-weight: 700;
        line-height: 1;
        line-height: rem(24);
    }

    &__review {
        margin-bottom: 0;
    }

    &__btns {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: rem(28);
        left: rem(40);
        margin-top: rem(10);
    }

    &__insta {
        display: block;
        width: rem(35);
        height: rem(35);
        transition: 0.2s;
        cursor: pointer;
        background: var(--lightblue-color);
        background-size: cover;
        -webkit-mask-image: url(../img/svg/insta.svg);
        mask-image: url(../img/svg/insta.svg);
        margin-right: 15px;

        @media(max-width: 1179px) {
            left: rem(24);
        }

        &:hover {
            background: #36a753;
        }
    }

    &__otzovik {
        display: block;
        width: rem(34);
        height: rem(34);
        transition: 0.2s;
        cursor: pointer;
        background: var(--lightblue-color);
        background-size: cover;
        -webkit-mask-image: url(../img/svg/otzovik.svg);
        mask-image: url(../img/svg/otzovik.svg);

        @media(max-width: 1179px) {
            left: rem(24);
        }

        &:hover {
            background: #36a753;
        }
    }

    &__more {
        margin-top: rem(5);

        button {
            border: none;
            padding: 0;
            cursor: pointer;
            font-size: rem(16);

            font-weight: 700;
            line-height: rem(17);
            color: var(--lightblue-color);
            background: none;
            outline: inherit;

            &:hover {
                color: #36a753;
            }
        }
    }

    &__more-reviews {
        padding-top: rem(40);
        text-align: center;
    }

    &__more-btn {
        width: rem(380);
        border: none;
        padding: rem(20);
        transition: 0.2s;
        cursor: pointer;

        font-family: "Neometric Alt", sans-serif;
        font-size: rem(18);
        font-weight: 600;
        line-height: rem(22);
        background: #c3e6f5;
        border-radius: rem(30);
        outline: inherit;

        @media(max-width: 768px) {
            width: 100%;
        }

        &:hover {
            background: var(--lightblue-color);
        }

        &:active {
            color: var(--black-color);
            background: var(--lightblue-color);
        }
    }
}