section.section.section-reviews
  .container
    h2.section__title Вместо тысячи слов — посмотрите отзывы
      span.section__title-border.b_top
      span.section__title-border.b_top-right
      span.section__title-border.b_bottom
      span.section__title-border.b_bottom-right
    .section-reviews__wrapper