section.section.section-reviews
    .container
        h2.section__title Вместо тысячи слов — посмотрите отзывы
            span.section__title-border.b_top
            span.section__title-border.b_top-right
            span.section__title-border.b_bottom
            span.section__title-border.b_bottom-right
        .section-reviews__description
            p Подавляющее большинство наших учеников приглашают к нам своих друзей и знакомых.
            img(src='./img/svg/start-reviews.svg')
        .section-reviews__wrapper
            .section-reviews__item
                .section-reviews__item--text
                    .section-reviews__author
                        img(src='./img/reviews/irina.jpg' class="section-reviews__photo")
                        p.section-reviews__name Ира, 6 лет
                    p.section-reviews__review Ловите от нас обзор, мы с удовольствием рекомендуем и советуем! Интересный подход, интересные задания на развитие творческого и аналитического интеллекта ребёнка.
                    .section-reviews__more
                        button Подробнее
                    .section-reviews__insta(title="Перейти")
                .section-reviews__item--video