.lesson-consist.lesson-consist__1
    .container
        h2.lesson-consist__headtitle Из чего состоит занятие?
        .lesson-consist__wrapper
            .lesson-consist__col
                .lesson-consist__title
                    .lesson-consist__title-icon
                        img.img-fluid(src="./img/lesson/icon-1.svg", alt="")
                    .lesson-consist__title-text Ментальная арифметика
                        br
                        | Абакус
                .lesson-consist__text Знакомим с теорией чисел, логическими операциями по сложению и вычитанию, умножению и делению. Развиваем  навыки скоростного и комбинаторного счета, аналитических и мыслительных процессов. Тренируем концентрацию, внимание и память.
            .lesson-consist__video
                video#video-main.video-js(controls preload="auto" loop="true" autoplay="true" poster="./img/mainblock/cover.jpg" muted="true")
                    source(src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4")
                    source(src="//vjs.zencdn.net/v/oceans.webm" type="video/webm")
                    source(src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg")
                    p.vjs-no-js
                        | To view this video please enable JavaScript, and consider upgrading to a web browser that
                .lesson-consist__control
                    .lesson-consist__timeline
                        img(src="./img/svg/play.svg" class="lesson-consist__play--on hide-elem")
                        img(src="./img/svg/pause.svg" class="lesson-consist__play--off")
                    .lesson-consist__volume
                        img(src="./img/svg/volume-off.svg" class="lesson-consist__volume--off")
                        img(src="./img/svg/volume-on.svg" class="lesson-consist__volume--on hide-elem")
                    .lesson-consist__screensize
                        img(src="./img/svg/screen-size.svg" class="lesson-consist__screen-size")
