.lesson-consist.lesson-consist__1
  .container
    h2.lesson-consist__headtitle Из чего состоит занятие?
    .lesson-consist__wrapper
      .lesson-consist__col
        .lesson-consist__title
          .lesson-consist__title-icon
            img.img-fluid(src="./img/lesson/icon-1.svg", alt="")
          .lesson-consist__title-text Ментальная арифметика
            br
            | Абакус
        .lesson-consist__text Знакомим с теорией чисел, логическими операциями по сложению и вычитанию, умножению и делению. Развиваем  навыки скоростного и комбинаторного счета, аналитических и мыслительных процессов. Тренируем концентрацию, внимание и память.
      .lesson-consist__col
