.lesson-consist.lesson-consist__1
    .container
        h2.lesson-consist__headtitle Из чего состоит занятие?
        .lesson-consist__wrapper
            .lesson-consist__col
                .lesson-consist__title
                    .lesson-consist__title-icon
                        img.img-fluid(src="./img/lesson/icon-1.svg", alt="")
                    .lesson-consist__title-text Ментальная арифметика
                        br
                        | Абакус
                .lesson-consist__text Знакомим с теорией чисел, логическими операциями по сложению и вычитанию, умножению и делению. Развиваем  навыки скоростного и комбинаторного счета, аналитических и мыслительных процессов. Тренируем концентрацию, внимание и память.
            .lesson-consist__video
                <iframe id="lesson-consist__1--video" src="https://player.vimeo.com/video/344519650?loop=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                .lesson-consist__control
                    .lesson-consist__timeline
                        img(src="./img/svg/play.svg" class="lesson-consist__play--on hide-elem")
                        img(src="./img/svg/pause.svg" class="lesson-consist__play--off")
                    .lesson-consist__volume
                        img(src="./img/svg/volume-off.svg" class="lesson-consist__volume--off")
                        img(src="./img/svg/volume-on.svg" class="lesson-consist__volume--on hide-elem")
                    .lesson-consist__screensize
                        img(src="./img/svg/screen-size.svg" class="lesson-consist__screen-size")
