.lesson-consist.lesson-consist__2
  .container
    .lesson-consist__wrapper
      .lesson-consist__col
        .lesson-consist__title
          .lesson-consist__title-icon
            img.img-fluid(src="./img/lesson/icon-2.svg", alt="")
          .lesson-consist__title-text Нейробика Абакус
        .lesson-consist__text Нейропсихологические и брейн-фитнес упражнения позволят укрепить состояние нервной системы, улучшить запоминание новой информации, развить в полной мере когнитивные способности. Система упражнений помогает улучшить настроение, избавить от переживаний, тревог и страхов, снять стресс от учебной нагрузки
      .lesson-consist__col
