.ticker.ticker_4
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-4.svg", alt="")
    .ticker__item-text  повышаем увлеченность ребенка математикой
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-4.svg", alt="")
    .ticker__item-text  повышаем увлеченность ребенка математикой
  .ticker__item
    .ticker__item-icon
      img(src="./img/ticker/ticker-4.svg", alt="")
    .ticker__item-text  повышаем увлеченность ребенка математикой
