.ticker.ticker_4
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .ticker__item
          .ticker__item-icon
            img(src="./img/ticker/ticker-4.svg", alt="")
          .ticker__item-text  повышаем увлеченность ребенка математикой
