.lesson-consist.lesson-consist__3
  .container
    .lesson-consist__wrapper
      .lesson-consist__col
        .lesson-consist__title
          .lesson-consist__title-icon
            img.img-fluid(src="./img/lesson/icon-3.svg", alt="")
          .lesson-consist__title-text Необычная математика Абакус
        .lesson-consist__text Каждое задание направлено на развитие математического и креативного мышления ребенка: внимание, выявление закономерностей, комбинаторика, пространственно-визуальное восприятие, логика, развитие последовательного и алгоритмического мышления и многое другое, чему не уделяется достаточное внимание в школьном курсе математики.
      .lesson-consist__col
        .lesson-consist__infoblock
          .lesson-consist__infoblock-text Кроме того, все задания не только соответствуют новым требованиям ФГОС, но также закладывают навыки, необходимые для успешной учебы  ребенка в школе и в дальнейшем в жизни.
  .lesson-consist__carousel
    .swiper-wrapper
      .swiper-slide.lesson-consist__carousel-item
        img.img-fluid(src="./img/lesson/carousel-1.jpg", alt="")
      .swiper-slide.lesson-consist__carousel-item
        img.img-fluid(src="./img/lesson/carousel-1.jpg", alt="")
      .swiper-slide.lesson-consist__carousel-item
        img.img-fluid(src="./img/lesson/carousel-1.jpg", alt="")
      .swiper-slide.lesson-consist__carousel-item
        img.img-fluid(src="./img/lesson/carousel-1.jpg", alt="")
