section.section.section-smi
  .container
    h2.section__title СМИ о нас
      span.section__title-border.b_top
      span.section__title-border.b_top-right
      span.section__title-border.b_bottom
      span.section__title-border.b_bottom-right
    .section-smi__wrapper.swiper-wrapper
      +smi-item({
        image: "./img/smi-logo/vedomosti.png",
        text: "Учить детей с использованием древнекитайских счетов оказалось весьма прибыльным дело"
      })
      +smi-item({
        image: "./img/smi-logo/vedomosti.png",
        text: "Мой ребенок — эрудит. Доброе утро. Фрагмент выпуска от 05.02.2020"
      })
      +smi-item({
        image: "./img/smi-logo/vedomosti.png",
        text: "«Удивительные люди». Ёсуман Исмонзода. Молниеносный счет в уме"
      })
      +smi-item({
        image: "./img/smi-logo/vedomosti.png",
        text: "«Удивительные люди». Ёсуман Исмонзода. Молниеносный счет в уме"
      })
      +smi-item({
        image: "./img/smi-logo/vedomosti.png",
        text: "«Удивительные люди». Ёсуман Исмонзода. Молниеносный счет в уме"
      })
      +smi-item({
        image: "./img/smi-logo/vedomosti.png",
        text: "Учить детей с использованием древнекитайских счетов оказалось весьма прибыльным дело"
      })
      +smi-item({
        image: "./img/smi-logo/vedomosti.png",
        text: "Учить детей с использованием древнекитайских счетов оказалось весьма прибыльным дело"
      })
      +smi-item({
        image: "./img/smi-logo/one-chanel.png",
        text: "Мой ребенок — эрудит. Доброе утро. Фрагмент выпуска от 05.02.2020"
      })
      +smi-item({
        image: "./img/smi-logo/one-chanel.png",
        text: "Мой ребенок — эрудит. Доброе утро. Фрагмент выпуска от 05.02.2020"
      })

