.section-smi {
    padding: rem(70) 0 rem(150);

    @media (max-width: 991px) {
        padding: rem(50) 0 rem(80);
    }

    @media (max-width: 767px) {
        padding: rem(25) 0 rem(50);
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    }

    &__item {
        @include size-lg(4);
        @include size-md(4);
        display: flex;
        align-items: center;
        position: relative;
        height: auto;
        min-height: rem(175);
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        margin-bottom: rem(20);
        color: var(--black-color);
        background: #c3e6f5;
        border-radius: 11px;


        &:hover {
            @media (min-width: 1180px) {
                .section-smi__item-more {
                    opacity: 1;
                }
            }
        }

        &-wrapper {
            display: flex;
            align-items: center;
            padding: rem(17);

            @media (max-width: 1179px) {
                padding: rem(45) rem(25);
            }
        }

        &-info {
            display: flex;
            align-items: center;

            @media (max-width: 1179px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &-logo {
            flex: none;
            margin-right: rem(30);

            @media (max-width: 1179px) {
                margin-right: 0;
            }

            img {
                display: block;
                max-width: rem(110);
                margin: auto;

                @media (max-width: 1179px) {
                    max-height: rem(37);
                    margin: 0 0 rem(18) 0;
                }
            }
        }

        &-text {
            font-size: rem(16);
            line-height: rem(19);

            @media (max-width: 1179px) {
                font-size: rem(14);
                line-height: rem(17);
            }
        }

        &-more {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: .5s ease;
            color: var(--black-color);
            opacity: 0;
            background-color: #dfefad;

            @media (max-width: 1179px) {
                display: none;
            }

            &__wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                width: 100%;
                transform: translateY(-50%);
                font-family: "Neometric Alt", sans-serif;
                font-size: rem(25);
                font-weight: 600;
                line-height: rem(30);

                .ic-arrow {
                    width: rem(38);
                    height: rem(24);
                    margin-left: rem(7);
                    background-image: url("../img/svg/arrow-right.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}