footer.footer
  .container
    .footer__top
      .footer__col
        a.footer__logo(href="#")
          img(src="./img/global/logo-footer.svg", alt="", loading="lazy")
        ul.footer__menu
          li.footer__menu-item
            a.footer__menu-link(href="http://#") О нас
          li.footer__menu-item
            a.footer__menu-link(href="http://#") Программы
          li.footer__menu-item
            a.footer__menu-link(href="http://#") Цены
          li.footer__menu-item
            a.footer__menu-link(href="http://#") Новости
          li.footer__menu-item
            a.footer__menu-link(href="http://#") Статьи
          li.footer__menu-item
            a.footer__menu-link(href="http://#") Полезное
          li.footer__menu-item
            a.footer__menu-link(href="http://#") Магазин
          li.footer__menu-item
            a.footer__menu-link(href="http://#") Контакты
      .footer__col
        .footer__col-head
          .footer__title Главный офис
          .footer__address
            | г. Москва, м. Электрозаводская,
            br
            | ул. Большая Семеновская 40,
            br
            | Бизнес центр Агат, офис 108
        .footer__info
          .footer__info-item
            span.ic-clock
            | пн-вск 9:00 - 19:00
          .footer__info-item
            span.ic-mail
            a(href="mailto:abakus@abakus-center.ru") abakus@abakus-center.ru
        a.footer__title.footer__title-fillial(href="#") Филиалы
      .footer__col
        .footer__col-head
          a.footer__phone(href="tel:88482687236") 8 (848) 268-72-36
          .footer__phone-text Звонок по России беслатный
        .footer__social
          a.footer__social-item(href="#", target="_blank", rel="noopener")
            span.footer__social-icon.footer__social-icon--instagram
          a.footer__social-item(href="#", target="_blank", rel="noopener")
            span.footer__social-icon.footer__social-icon--facebook
          a.footer__social-item(href="#", target="_blank", rel="noopener")
            span.footer__social-icon.footer__social-icon--youtube
          a.footer__social-item(href="#", target="_blank", rel="noopener")
            span.footer__social-icon.footer__social-icon--vkontakte
        .footer__apps
          a.footer__apps-item(href="#", target="_blank", rel="noopener")
            img(src="./img/global/app-store.svg", alt="")
          a.footer__apps-item(href="#", target="_blank", rel="noopener")
            img(src="./img/global/google-play.svg", alt="")
    .footer__bottom
      .footer__bottom-col
        .footer__copyrite Copyright © 2011-2021 All Rights Reserved.
          br
          | Международная сеть школ Абакус Центр
          br
          | 117556 г. Москва, ул. Чонгарский бульвар, д. 18, корп. Абакус
          br
          | ИНН: 7726701560, ОГРН: 1127746566463
      .footer__bottom-col
        .footer__legal
          a.footer__legal-text(href="#") Пользовательское соглашение

