@font-face {
  font-family: 'Neometric Alt';
  src: url('../fonts/Neometric/NeometricAlt-Bold.eot');
  src: local('Neometric Alt Bold'), local('NeometricAlt-Bold'),
    url('../fonts/Neometric/NeometricAlt-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Neometric/NeometricAlt-Bold.woff2') format('woff2'),
    url('../fonts/Neometric/NeometricAlt-Bold.woff') format('woff'),
    url('../fonts/Neometric/NeometricAlt-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}